extends layouts/default

block content
	nav.layout__navbar.navbar.navbar--expand-lg
		a.navbar__brand(href='#', title='Melhor Envio')
			+icon('melhor-envio')

		//- .navbar__collapse
		//- 	ul.navbar__nav
		//- 		li.navbar__nav__item
		//- 			a.navbar__link(href='#', title='Nav Link') Nav Link
		//- 		li.navbar__nav__item
		//- 			a.navbar__link(href='#', title='Nav Link') Nav Link
		//- 		li.navbar__nav__item
		//- 			a.navbar__link(href='#', title='Nav Link') Nav Link
		//- 		li.navbar__nav__item
		//- 			a.navbar__link(href='#', title='Nav Link') Nav Link

		.navbar__nav
			.context-menu
				button.context-menu__trigger(type='button')
					+icon('melhor-envio-logo')

				.context-menu__dropdown
					img.context-menu__avatar(src='#', alt='Foto de perfil')
					p.context-menu__name Melhor UI

					.context-menu__links
						a.context-menu__links__item(
							href='https://melhorenvio.com.br',
							title='Melhor Envio',
							target='_blank'
						)
							+icon('melhor-envio-logo')
							| Melhor Envio

						a.context-menu__links__item(
							href='https://menvio.com.br',
							title='Melhor Rastreio',
							target='_blank'
						)
							+icon('melhor-rastreio-logo')
							| Melhor Rastreio

						a.context-menu__links__item(
							href='https://melhorenvio.com.br',
							title='Blog',
							target='_blank'
						)
							+icon('blog')
							| Blog

		//- button.navbar__menu(type='button')
		//- 	+icon('menu')

	aside.layout__sidebar
		ul.sidebar
			li.sidebar__item
				button.sidebar__toggler(type='button')

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('dashboard')
					| Dashboard

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('calculator')
					| Calculadora

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('package')
					| Meus envios

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('wallet')
					| Melhor carteira

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('integrations')
					| Integrações

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('package')
					| Minhas vendas

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('settings')
					| Logística

				ul.sidebar__sub
					li.sidebar__sub__item
						a.sidebar__sub__link(href='#', title='') Minhas origens

					li.sidebar__sub__item
						a.sidebar__sub__link(href='#', title='') Meus destinos

					li.sidebar__sub__item
						a.sidebar__sub__link(href='#', title='') Meus pacotes

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('settings')
					| Vantagens

				ul.sidebar__sub
					li.sidebar__sub__item
						a.sidebar__sub__link(href='#', title='') Afiliados

					li.sidebar__sub__item
						a.sidebar__sub__link(href='#', title='') Cupons

			li.sidebar__item
				a.sidebar__link(href='#', title='')
					+icon('message')
					| Suporte

	main.layout__main.grid
		section.grid__item-sm--12.space--wide
			h1.text--hero Typography

			article.space--snug
				h2.text--title Types
				.text--hero .text--hero
				.text--title .text--title
				.text--subtitle .text--subtitle
				.text--highlight .text--highlight
				.text--normal
					p .text--normal - Voluptatum, consequuntur? Dolore numquam illum soluta vero dolorum,
						|  ipsa eum fugit molestias, unde delectus error dicta totam explicabo id ratione. Praesentium, culpa.
					p Nam necessitatibus eligendi nihil, iusto autem dolorem dignissimos neque
						|  voluptate reiciendis, ipsa quia! Quisquam, minima et fuga iste aperiam consectetur? Facere, officiis!
				.text--small .text--small
				.text--minute .text--minute
				.text--tiny .text--tiny

			article
				h2.text--title Themes
				.color--neutral-shine .color--neutral-shine
				.color--neutral-bright .color--neutral-bright
				.color--neutral-light .color--neutral-light
				.color--neutral-clear .color--neutral-clear
				.color--neutral-medium .color--neutral-medium
				.color--neutral-dark .color--neutral-dark
				.color--neutral-murk .color--neutral-murk
				.color--primary .color--primary
				.color--primary-light .color--primary-light
				.color--primary-dark .color--primary-dark
				.color--secondary .color--secondary
				.color--secondary-light .color--secondary-light
				.color--secondary-dark .color--secondary-dark
				.color--success .color--success
				.color--success-light .color--success-light
				.color--success-dark .color--success-dark
				.color--info .color--info
				.color--info-light .color--info-light
				.color--info-dark .color--info-dark
				.color--danger .color--danger
				.color--danger-light .color--danger-light
				.color--danger-dark .color--danger-dark
				.color--warning .color--warning
				.color--warning-light .color--warning-light
				.color--warning-dark .color--warning-dark

		section.grid__item-sm--12.space--wide
			h1.text--hero Colors

			article.space--snug
				h2.text--title Neutral
				.grid
					.background.background--neutral-shine.grid__item-sm--auto $theme-neutral-shine
					.background.background--neutral-bright.grid__item-sm--auto $theme-neutral-bright
					.background.background--neutral-light.grid__item-sm--auto $theme-neutral-light
					.background.background--neutral-clear.grid__item-sm--auto $theme-neutral-clear
					.background.background--neutral-medium.grid__item-sm--auto $theme-neutral-medium
					.background.background--neutral-dark.grid__item-sm--auto $theme-neutral-dark
					.background.background--neutral-murk.grid__item-sm--auto $theme-neutral-murk

			article.space--snug
				h2.text--title Primary
				.grid
					.background.background--primary.grid__item-sm--auto $theme-primary
					.background.background--primary-light.grid__item-sm--auto $theme-primary-light
					.background.background--primary-dark.grid__item-sm--auto $theme-primary-dark

			article.space--snug
				h2.text--title Secondary
				.grid
					.background.background--secondary.grid__item-sm--auto $theme-secondary
					.background.background--secondary-light.grid__item-sm--auto $theme-secondary-light
					.background.background--secondary-dark.grid__item-sm--auto $theme-secondary-dark

			article.space--snug
				h2.text--title Success
				.grid
					.background.background--success.grid__item-sm--auto $theme-success
					.background.background--success-light.grid__item-sm--auto $theme-success-light
					.background.background--success-dark.grid__item-sm--auto $theme-success-dark

			article.space--snug
				h2.text--title Info
				.grid
					.background.background--info.grid__item-sm--auto $theme-info
					.background.background--info-light.grid__item-sm--auto $theme-info-light
					.background.background--info-dark.grid__item-sm--auto $theme-info-dark

			article.space--snug
				h2.text--title Danger
				.grid
					.background.background--danger.grid__item-sm--auto $theme-danger
					.background.background--danger-light.grid__item-sm--auto $theme-danger-light
					.background.background--danger-dark.grid__item-sm--auto $theme-danger-dark

			article
				h2.text--title Warning
				.grid
					.background.background--warning.grid__item-sm--auto $theme-warning
					.background.background--warning-light.grid__item-sm--auto $theme-warning-light
					.background.background--warning-dark.grid__item-sm--auto $theme-warning-dark

		section.grid__item-sm--12.space--wide
			h1.text--hero Icons

			each icon in icons
				+icon(icon.replace('.svg', ''))(style='font-size: 32px')

		section.grid__item-sm--12.space--wide
			h1.text--hero Buttons

			article.space--snug
				h2.text--title Primary
				button.button(type='button')
					+icon('github')
					| Button
				button.button.button--alt(type='button')
					+icon('github')
					| Button
				button.button.button--minimal(type='button') Button

			article.space--snug
				h2.text--title Secondary
				button.button.button--secondary(type='button')
					+icon('github')
					| Button
				button.button.button--secondary.button--alt(type='button')
					+icon('github')
					| Button
				button.button.button--secondary.button--minimal(type='button') Button

			article.space--snug
				h2.text--title Success
				button.button.button--success(type='button')
					+icon('github')
					| Button
				button.button.button--success.button--alt(type='button')
					+icon('github')
					| Button
				button.button.button--success.button--minimal(type='button') Button

			article.space--snug
				h2.text--title Info
				button.button.button--info(type='button')
					+icon('github')
					| Button
				button.button.button--info.button--alt(type='button')
					+icon('github')
					| Button
				button.button.button--info.button--minimal(type='button') Button

			article.space--snug
				h2.text--title Danger
				button.button.button--danger(type='button')
					+icon('github')
					| Button
				button.button.button--danger.button--alt(type='button')
					+icon('github')
					| Button
				button.button.button--danger.button--minimal(type='button') Button

			article
				h2.text--title Warning
				button.button.button--warning(type='button')
					+icon('github')
					| Button
				button.button.button--warning.button--alt(type='button')
					+icon('github')
					| Button
				button.button.button--warning.button--minimal(type='button') Button

		section.grid__item-sm--12.space--wide
			h1.text--hero Forms

			article.space--snug.grid
				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-r-lg--narrow
					.form__set
						input#input1.form__field(placeholder='Label')
						label.form__label(for='input1') Label

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-x-lg--narrow
					.form__set.form--error
						input#input2.form__field(placeholder='Error')
						label.form__label(for='input2') Error
						p.form__message Error message

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.form__set
						input#input3.form__field(placeholder='Disabled', disabled)
						label.form__label(for='input3') Disabled

			article.space--snug.grid
				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-r-lg--narrow
					.form__set
						textarea#textarea1.form__field(placeholder='Label', rows='5')
						label.form__label(for='textarea1') Label

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-x-lg--narrow
					.form__set.form--error
						textarea#textarea2.form__field(placeholder='Error', rows='5')
						label.form__label(for='textarea2') Error
						p.form__message Error message

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.form__set
						textarea#textarea3.form__field(placeholder='Disabled', rows='5', disabled)
						label.form__label(for='textarea3') Disabled

			article.space--snug.grid
				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-r-lg--narrow
					.form__set
						.form__combobox(tabindex='0')
							.form__combobox__placeholder
							label.form__label Select
							.form__combobox__list
								button.form__combobox__option(type='button') Option 1
								button.form__combobox__option(type='button') Option 2
								button.form__combobox__option(type='button') Option 3
								button.form__combobox__option(type='button') Option 4
								button.form__combobox__option(type='button') Option 5
								button.form__combobox__option(type='button') Option 6
								button.form__combobox__option(type='button') Option 7
								button.form__combobox__option(type='button') Option 8

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-x-lg--narrow
					.form__set.form--error
						.form__combobox(tabindex='0')
							.form__combobox__placeholder
							label.form__label Select
							.form__combobox__list
								button.form__combobox__option(type='button') Option 1
								button.form__combobox__option(type='button') Option 2
								button.form__combobox__option(type='button') Option 3
								button.form__combobox__option(type='button') Option 4
								button.form__combobox__option(type='button') Option 5
								button.form__combobox__option(type='button') Option 6
								button.form__combobox__option(type='button') Option 7
								button.form__combobox__option(type='button') Option 8
						p.form__message Error message

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.form__set
						.form__combobox(tabindex='0', disabled)
							.form__combobox__placeholder
							label.form__label Select
							.form__combobox__list
								button.form__combobox__option(type='button') Option 1
								button.form__combobox__option(type='button') Option 2
								button.form__combobox__option(type='button') Option 3
								button.form__combobox__option(type='button') Option 4
								button.form__combobox__option(type='button') Option 5
								button.form__combobox__option(type='button') Option 6
								button.form__combobox__option(type='button') Option 7
								button.form__combobox__option(type='button') Option 8

			article.space--snug.grid
				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-r-lg--narrow
					.form__set.space--snug
						label.form__checkbox
							input.form__checkbox__input(type='checkbox')
							| Checkbox

				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-x-lg--narrow
					.form__set.space--snug
						label.form__switch
							input.form__switch__input(type='checkbox')
							| Switch

				.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
					.form__set.space--snug
						label.form__radio
							input.form__radio__input(type='radio', name='example')
							| Radio

					.form__set.space--snug
						label.form__radio
							input.form__radio__input(type='radio', name='example')
							| Radio

			article.space--snug.grid
				.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none
					.form__set
						.form__datepicker(tabindex='0')
							+icon('calendar')
							.form__datepicker__placeholder
							label.form__label Datepicker
							.datepicker
								input.datepicker__input(type='hidden', value='')

		section.grid__item-sm--12.space--wide
			h1.text--hero Cards

			article.space--snug
				h2.text--title Sizes

				.grid
					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-r-lg--narrow
						.card.space-i--snug .space-i--snug

					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-b-lg--none.space-i-x-lg--narrow
						.card.space-i--loose .space-i--loose

					.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
						.card.space-i--wide .space-i--wide

			article.space--snug
				h2.text--title Themes

				.grid
					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-r-lg--narrow
						.card.card--primary.space-i--snug .card--primary

					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-x-lg--narrow
						.card.card--secondary.space-i--snug .card--secondary

					.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
						.card.card--info.space-i--snug .card--info

					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-r-lg--narrow
						.card.card--success.space-i--snug .card--success

					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-x-lg--narrow
						.card.card--danger.space-i--snug .card--danger

					.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
						.card.card--warning.space-i--snug .card--warning

			article.space--snug
				h2.text--title Backgrounds

				.grid
					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-r-lg--narrow
						.card.card--bright.space-i--snug .card--bright

					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-x-lg--narrow
						.card.card--light.space-i--snug .card--light

					.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
						.card.card--clear.space-i--snug .card--clear

					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-r-lg--narrow
						.card.card--medium.space-i--snug .card--medium

					.grid__item-sm--12.grid__item-lg--4.space-i-b--snug.space-i-x-lg--narrow
						.card.card--dark.space-i--snug .card--dark

					.grid__item-sm--12.grid__item-lg--4.space-i-l-lg--narrow
						.card.card--murk.space-i--snug .card--murk

		section.grid__item-sm--12.space--wide
			h1.text--hero Tabs

			.tabs
				.tabs__menu
					button.tabs__button(type='button') Tab 1
					button.tabs__button(type='button') Tab 2
					button.tabs__button(type='button') Tab 3
					button.tabs__button(type='button') Tab 4
				.tabs__content.space-i--loose Content 1
				.tabs__content.space-i--loose Content 2
				.tabs__content.space-i--loose Content 3
				.tabs__content.space-i--loose Content 4

		section.grid__item-sm--12.space--wide
			h1.text--hero Tables

			article.space--snug
				h2.text--title Default

				.table-scrollable
					table.table
						thead.table__head
							th.table__cell Header 1
							th.table__cell Header 2
							th.table__cell Header 3
						tfoot.table__footer
							th.table__cell Footer 1
							th.table__cell Footer 2
							th.table__cell Footer 3
						tbody.table__body
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3

			article.space--snug
				h2.text--title Striped

				.table-scrollable
					table.table.table--striped
						thead.table__head
							th.table__cell Header 1
							th.table__cell Header 2
							th.table__cell Header 3
						tfoot.table__footer
							th.table__cell Footer 1
							th.table__cell Footer 2
							th.table__cell Footer 3
						tbody.table__body
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3
							tr.table__row
								td.table__cell Cell 1
								td.table__cell Cell 2
								td.table__cell Cell 3
