extends ../../layouts/component

block content
	form-set(
		:validation='validation',
		:message='message',
		:error-message='errorMessage'
	)
		.form__datepicker-container
			.form__datepicker(
				tabindex='0',
				:disabled='disabled',
				:class='{"form__datepicker--open": open}',
				@click='toggle'
			)
				+icon('calendar')
				.form__datepicker__placeholder {{selectedDate}}
				label.form__label {{label}}
				.datepicker(ref='datepicker', :class='`datepicker--mode-${mode}`')
					.datepicker__nav
						button.datepicker__nav__prev(@click='nav("prev")')
						button.datepicker__nav__label(@click='changeMode') {{navLabel}}
						button.datepicker__nav__next(@click='nav("next")')

					.datepicker__week
						.datepicker__week__item(v-for='weekDay in weekHeaders') {{weekDay}}

					.datepicker__days(v-if='mode === "day"')
						button.datepicker__days__item(
							v-for='day in days',
							:class='{"datepicker__days__item--today": day.isToday, "datepicker__days__item--past": day.isPast, "datepicker__days__item--next": day.isNext, "datepicker__days__item--selected": day.isSelected}',
							:disabled='!day.isInRange',
							@click='selectDate(day.date)'
						) {{day.text}}

					.datepicker__months(v-if='mode === "month"')
						button.datepicker__months__item(
							v-for='month in months',
							:class='{"datepicker__months__item--selected": month.isCurrent}',
							@click='selectMonth(month.index)'
						) {{month.text}}

					.datepicker__years(v-if='mode === "year"')
						button.datepicker__years__item(
							v-for='year in years',
							:class='{"datepicker__years__item--selected": year.isCurrent}',
							@click='selectYear(year.text)'
						) {{year.text}}
