extends ../../layouts/component

block content
	form-set(
		:validation='validation',
		:message='message',
		:error-message='errorMessage'
	)
		textarea.form__field(
			slot='field',
			v-if='type === "textarea"',
			v-model='_value',
			:name='name',
			:id='name',
			:rows='rows || 5',
			:placeholder='label',
			:disabled='disabled'
		)
		input.form__field(
			slot='field',
			v-else,
			v-model='_value',
			:type='type',
			:name='name',
			:id='name',
			:placeholder='label',
			:disabled='disabled'
		)
		label.form__label(slot='label') {{label}}
